# Pertemuan 11: Operasi MongoDB Tingkat Lanjut dan Queri Data

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 17.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Operasi CRUD Tingkat Lanjut
Latihan 1: Gunakan bulk_write untuk menyisipkan, memperbarui, dan menghapus beberapa dokumen secara bersamaan.

Tugas 1: Menyisipkan kumpulan data mata kuliah yang setiap mata kuliahnya memiliki beberapa pendaftaran siswa, lalu menampilkan datanya.

In [2]:
import pymongo
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://mandadiva:bigdatamanda@bigdata.wjfmn.mongodb.net/?retryWrites=true&w=majority&appName=bigdata')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [9]:
# UpdateOne data
courses_collection.update_one({'course': 'CS 102'}, {'$set': {'enrollments': 35}})
print('Course updated successfully')

Course updated successfully

In [10]:
# DeleteOne data
courses_collection.delete_one({'course' : 'Physics 202'})
print('Course delete successfully')

Course delete successfully

### 2.Pemfilteran dan Query yang Kompleks
- **Latihan 2**: Filter kursus pendaftaran lebih dari 20 siswa
- **Tugas 2**: Mengambil dan menampilkan kursus hanya dari departemen 'Ilmu Komputer' atau 'Matematika'.

In [13]:
# Query untuk filter kursus pendaftaran lebih dari 20 siswa
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
  print(course)

{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'course': 'CS 102', 'enrollments': 35, 'department': 'Computer Science'}

In [16]:
# Query untuk mengambil dan menampilkan kursus hanya dari departemen 'ilmu komputer(computer science)' dan 'matematika(mathematics)'
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
  print(course)

{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'course': 'CS 102', 'enrollments': 35, 'department': 'Computer Science'}

### 3. Kerangka Agregasi untuk Analisis Data
Latihan 3: Gunakan agregasi untuk mencari rata-rata pendaftaran per departemen.

Tugas 3: Membuat alur agregasi yang menemukan pendaftaran maksimum untuk setiap departemen.

In [23]:
# rata-rata pendaftaran per departemen menggunakan agregasi
pipeline = [
    {'$group' : {'_id' : '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Computer Science', 'average_enrollment': 35.0}

In [24]:
# Maksimum pendaftaran per departemen
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 35}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}

### 4. Transformasi Data menggunakan project dan addFields
Latihan 4: Gunakan $project untuk mengganti nama dan hanya menampilkan kolom: nama_mata kuliah, nama_departemen, dan pendaftaran.

Tugas 4: Gunakan $addFields untuk membuat bidang baru enrolment_category dengan pendaftaran > 20 'tinggi' dan yang lainnya 'rendah'.

In [29]:
# Menggunakan $project untuk mengganti nama, hanya menampilkan kolom: nama_mata kuliah, nama_departemen, dan pendaftaran
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'enrollments': 35, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc48a'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}

In [39]:
# menggunakan $addFields untuk membuat bidang baru enrolment_category dengan pendaftaran > 20 'tinggi' dan yang lainnya 'rendah'
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]},'then': 'tinggi','else': 'rendah'}}}},
    {'$sort': {'enrollment_category': -1, 'enrollments': -1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'course': 'CS 102', 'enrollments': 35, 'department': 'Computer Science', 'enrollment_category': 'tinggi'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'tinggi'}
{'_id': ObjectId('672b0c3aa93e1e439f1cc48a'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'rendah'}

### Homework for Students
- **Tugas 1**: Lakukan agregasi untuk mendapatkan hitungan mata kuliah per departemen.
- **Tugas 2**: Gunakan $match dan $group bersama-sama untuk memfilter dan hanya mendapatkan kursus dengan pendaftaran lebih dari 25 di 'Ilmu Komputer'.
- **Tugas 3**: Terapkan $lookup untuk menggabungkan koleksi kursus dengan koleksi siswa berdasarkan pendaftaran siswa.

In [40]:
# Tugas 1: Lakukan agregasi untuk mendapatkan hitungan mata kuliah per departemen
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'History', 'course_count': 1}

In [41]:
# Tugas 2: Gunakan $match dan $group bersama-sama untuk memfilter dan hanya mendapatkan kursus dengan pendaftaran lebih dari 25 di 'Ilmu Komputer'
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
  print(result)

{'_id': 'CS 102', 'total_enrollments': 35}

In [50]:
# Tugas 3: Terapkan $lookup untuk menggabungkan koleksi kursus dengan koleksi siswa berdasarkan pendaftaran siswa
courses_collection = db['courses']
pipeline = [
    {'$lookup': {'from': 'courses', 'localField': 'course', 'foreignField': 'course', 'as': 'course_detail'}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'course_detail': [{'_id': ObjectId('672b0c3aa93e1e439f1cc488'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}]}
{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'course': 'CS 102', 'enrollments': 35, 'department': 'Computer Science', 'course_detail': [{'_id': ObjectId('672b0c3aa93e1e439f1cc489'), 'course': 'CS 102', 'enrollments': 35, 'department': 'Computer Science'}]}
{'_id': ObjectId('672b0c3aa93e1e439f1cc48a'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'course_detail': [{'_id': ObjectId('672b0c3aa93e1e439f1cc48a'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}]}